* { list-style: none; padding: 0; margin: 0; font-family: helvetica, arial, sans-serif; box-sizing: border-box;}
#timetracker { width: 300px; margin: 10% auto; }
	#timetracker fieldset { position: relative; border: 0; margin: 0;}
		#timetracker input { font-size: 12px; display: none;}
		#timetracker #client,
		#timetracker #comment { display: block; font-size: 18px; padding: 6px; margin: 0 0 15px; width: 100%; }
		#timetracker input.match { font-weight: bold}
		#timetracker #suggestions { display: none; position: absolute; background: white; border: 1px solid #CCC; top: 30px }
			#timetracker #suggestions li { padding: 7px; font-size: 12px; } 
		#timetracker input.active { background: orange; color: #FFF; font-weight: bold;}
		#timetracker #time { background: #666; line-height: 1.2; padding: 0 20px; border-radius: 25px; margin-bottom: 15px; display: block; width: 100%; text-align: center; color: #FFF; font-family: Monaco, "courier new"; font-size: 100px;}
		#timetracker #time.inactive { color: #BBB; background-color: #888; }
		#timetracker #start { float: left; }
		#timetracker #finish { float: left; }
		#timetracker #pause { float: right; }
		#timetracker #log { float: left; }
		#timetracker #comment { line-height: 16px; font-size: 14px; display: none; font-size: 12px;}